<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
  <%= javascript_include_tag 'underscore-min' %>
  <%= javascript_include_tag 'backbone-min' %>
  <%= javascript_include_tag 'backbone-patch' %>
  <%= javascript_include_tag 'todos' %>

  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'todos' %>


  <%= yield :javascript %>
</head>
<body>

<%= yield %>

</body>
</html>
