<!DOCTYPE html>
<%- if include_appcache? %>
  <html manifest="<%= appcache %>">
<%- else %>
  <html>
<%- end %>
<head>
  <title>Todo</title>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'underscore-min' %>
  <%= javascript_include_tag 'backbone-min' %>
  <%= javascript_include_tag 'backbone-patch' %>
  <%= javascript_include_tag 'todos' %>

  <%= csrf_meta_tag %>
  <%- if mobile? %>
    <%= stylesheet_link_tag 'todos-mobile' %>
  <%- else %>
    <%= stylesheet_link_tag 'todos' %>
  <%- end %>

  <%- if iphone? %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="/images/Check.png" />
  <%- elsif android? %>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- end %>


</head>
<body>

<%= yield %>

  <%= yield :javascript %>
</body>
</html>
