<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
  <%= javascript_include_tag 'underscore-min' %>
  <%= javascript_include_tag 'backbone-min' %>
  <%= javascript_include_tag 'backbone-patch' %>
  <%= javascript_include_tag 'todos' %>

  <%= csrf_meta_tag %>
  <%- if mobile? %>
    <%= stylesheet_link_tag 'todos-mobile' %>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="apple-touch-icon" href="/images/Check.png" />
  <%- else %>
    <%= stylesheet_link_tag 'todos' %>
  <%- end %>


  <%= yield :javascript %>
</head>
<body>

<%= yield %>

</body>
</html>
